In [4]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [5]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import pymysql

In [12]:
# 전역변수 선언부
conn, cur = None, None
data1, data2, data3, data4 = '','','',''

# 메인코드
conn = pymysql.connect(host='localhost', user='root', password='1111',
                     db = 'shoppingDB', charset ='utf8')

cur = conn.cursor()
cur.execute('Create table if not exists usertable (id char(4), userName char(15), email char(20), birthYear int)')
cur.execute("insert into usertable values('join', 'john', 'john@naver.com',1990)")
cur.execute("insert into usertable values('kim', 'kim mike', 'kim@naver.com',1980)")
cur.execute("insert into usertable values('park', 'park minseo', 'park@naver.com',2000)")

conn.commit()
conn.close()

In [15]:
# 전역변수 선언
conn, cur = None, None
data1, data2, data3, data4 = '','','',''

# 메인코드
conn = pymysql.connect(host='localhost', user='root', password='1111',
                     db = 'shoppingDB', charset ='utf8')
cur =conn.cursor()
cur.execute('select *from usertable')
print('사용자ID    사용자이름   이메일   출생연도')
print('--------------------------')

while(True):
    row = cur.fetchone()
    if row == None:
        break
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print('%5s %15s %15s %d'%(data1, data2, data3, data4))

conn.close()

사용자ID    사용자이름   이메일   출생연도
--------------------------
 join            john  john@naver.com 1990
  kim        kim mike   kim@naver.com 1980
 park     park minseo  park@naver.com 2000

In [25]:
import csv
import pymysql

# 메인코드
conn = pymysql.connect(host='localhost', user='root', password='1111',
                     db = 'shoppingDB', charset ='utf8')

cur = conn.cursor()

f = open('2.csv','r') # utf-8
csvReader = list(csv.reader(f))
cur.execute('create table if not exists test (name char(10), kor char(15))')

for data in csvReader[1:]:
    row1 = data[0]
    row2 = data[1]
    
    sql = '''insert into test (name, kor) values(%s, %s);'''
    cur.execute(sql, (row1, row2))
    
f.close()
conn.commit()
conn.close()